Host dl
  Hostname 67.169.68.233
  Port 55
  User jbenn
  IdentityFile ~/.ssh/id_rsa
  IdentitiesOnly yes

Host jcb
  Hostname 52.33.229.112
  LogLevel error
  User ec2-user
  IdentityFile ~/.ssh/eb_jcb
  IdentitiesOnly yes
  LocalForward 8888 localhost:8888

Host jcb-wsgi
  Hostname 52.33.229.112
  LogLevel error
  User wsgi
  IdentityFile ~/.ssh/eb_jcb
  IdentitiesOnly yes
  LocalForward 8888 localhost:8888
